main section[podium] .line {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}

main .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 18em;
    height: 10em;
    padding: 1em;
    color: white;
}

main .place#p1 img {
    width: 10em;
    height: 10em;
}

main .place#p2 img {
    width: 5em;
    height: 5em;
}

main .place#p3 img {
    width: 5em;
    height: 5em;
}

main section[ranking] {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding: 2em;
}

main table {
    width: 96%;
    max-width: var(--max-width);
}

main table thead {
    background-color: var(--main-color);
    text-transform: uppercase;
}

main table th {
    padding: 0.5em 1.5em;
    font-weight: bold;
    color: white;
}

main table tr {
    color: var(--main-color);
}

main table tr:nth-child(even) {
    background-color: whitesmoke;
}

main table tr td {
    padding: 0.3em;
    text-align: center;
}

main table tr td:first-child {
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 0.5em;
}

@media screen and (max-width: 30em) {
    main table tr td:first-child,
    main table tr td:last-child {
        text-align: right;
    }

    main table tr td:nth-child(2) {
        text-align: left;
    }
}
